<section class="w-full flex flex-col justify-center items-center">
  <h1 class="font-dancingScriptRegular text-4xl mb-5">Guest Book</h1>

  <div class="bg-white w-full flex flex-col px-6 py-3 rounded-md">
    <form [formGroup]="applyForm" (submit)="submitGuestBook()">
      <input
        class="block border border-black w-full rounded-sm mb-1 p-1 text-black"
        id="title"
        type="text"
        formControlName="title"
        placeholder="Title"
      />
      <textarea
        class="block border border-black w-full rounded-sm mb-3 p-1 text-black"
        id="description"
        type="text"
        formControlName="description"
        placeholder="Description"
      ></textarea>

      <button class="text-black bg-slate-400 p-2 rounded-md" type="submit">
        Send
      </button>
    </form>
  </div>
</section>
