<section class="h-[50vh] flex flex-col justify-center items-center mb-36">
  <iframe
    class="rounded-2xl mb-1"
    referrerpolicy="no-referrer-when-downgrade"
    date="https://www.google.com/maps/embed/v1/place?key=AIzaSyCFwmwyoXuziwd54NrQSH3lme0Y4cfRbkk&amp;q=Space+Needle,Seattle+WA"
    src='https://www.google.com/maps/embed/v1/place?key=AIzaSyCFwmwyoXuziwd54NrQSH3lme0Y4cfRbkk&amp;q="The Sentra Manado"'
    height="100%"
    width="100%"
    style="border: 0px"
  ></iframe>
  <a
    href="https://www.google.com/maps/place/The+Sentra+Manado/@1.4880891,124.9156242,17z/data=!3m1!4b1!4m9!3m8!1s0x32870bf597ddf1a1:0xab699cffbafa14b0!5m2!4m1!1i2!8m2!3d1.4880891!4d124.9156242!16s%2Fg%2F11n1390ss0?entry=ttu"
    target="_blank"
    class="bg-[#ffab70] w-30 text-sm p-2 rounded-md font-robotoSlabRegular text-[#030303]"
    >Google Maps</a
  >
</section>
