<main class="h-screen w-screen bg-[#1b1f23] overflow-y-scroll text-white">
  <div
    id="container"
    class="container h-full max-w-[400px] mx-auto border-2 border-red-500 flex flex-col justify-start items-center"
  >
    <!-- HERO IMAGE -->
    <div id="hero-image" class="h-2/5">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/pjp1_p1yk_dsdRcfrMg"
        alt=""
      />
      <div
        class="relative h-10 bg-[#1b1f23] left-0 bottom-10 right-0 opacity-75"
      ></div>
    </div>

    <!-- GREETINGS -->
    <div class="relative text-center text-3xl m-5">
      <h1 class="font-alegreyaRegular">Save</h1>
      <h1 class="font-dancingScriptRegular">the</h1>
      <h1 class="font-alegreyaRegular">DATE</h1>
    </div>

    <!-- BIRTHDAY DATE -->
    <div class="flex items-center gap-4 font-alegreyaRegular text-2xl m-5">
      <p>Agustus</p>
      <div class="w-[1px] h-10 bg-black"></div>
      <p class="text-4xl">04</p>
      <div class="w-[1px] h-10 bg-black"></div>
      <p>2024</p>
    </div>

    <!-- ICON -->
    <div class="w-12 h-12">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/templates/982a8ae236356234cd0000a0/u9jv_jvbm_hqofwHg2-A"
        alt=""
      />
    </div>

    <!-- NAME -->
    <div></div>
  </div>
</main>
