<section class="flex flex-col items-center px-2">
  <h1
    class="font-dancingScriptRegular text-[#ffab70] text-4xl text-center mb-5"
  >
    Our
    <br />
    Story
  </h1>

  <!-- GALLERY -->
  <div class="container flex gap-2 flex-wrap items-center justify-evenly">
    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/w2pg_pggc_jUrvGbD67"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/w2pg_pggc_jUrvGbD67'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/r2s1_s130_Nc71p1hse"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/r2s1_s130_Nc71p1hse'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6xsu_suqr_O2P81AjeD"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6xsu_suqr_O2P81AjeD'
          )
        "
      />
    </div>

    <div class="w-[48%] rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/ajyg_yga1_da5ZJyZP2"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/ajyg_yga1_da5ZJyZP2'
          )
        "
      />
    </div>

    <div class="w-[48%] rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/m0ov_ov7c_CQu1UO0Si"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/m0ov_ov7c_CQu1UO0Si'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6nlc_lco4_6KLogGK8M"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6nlc_lco4_6KLogGK8M'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/xu17_17ap_UGzLtOJvN"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/xu17_17ap_UGzLtOJvN'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/srwe_weiz_YhWdRjpZV"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/srwe_weiz_YhWdRjpZV'
          )
        "
      />
    </div>

    <div class="w-[48%] rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/s6ef_efqp_jlzmWe0rA"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/s6ef_efqp_jlzmWe0rA'
          )
        "
      />
    </div>

    <div class="w-[48%] rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/dq1j_1je6_BAEAXEVpB"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/dq1j_1je6_BAEAXEVpB'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6nlc_lco4_6KLogGK8M"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6nlc_lco4_6KLogGK8M'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/xu17_17ap_UGzLtOJvN"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/xu17_17ap_UGzLtOJvN'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/srwe_weiz_YhWdRjpZV"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/srwe_weiz_YhWdRjpZV'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/5pbl_bl2r_B6uwtqRbk"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/5pbl_bl2r_B6uwtqRbk'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/io4d_4d0u_61goCoPV-"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/io4d_4d0u_61goCoPV-'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/k62p_2pi4_7tSoxJ9rM"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/k62p_2pi4_7tSoxJ9rM'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/kmat_atj3_UyLXdmfXX"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/kmat_atj3_UyLXdmfXX'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/wzo5_o5zm_4ecN7HxVz"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/wzo5_o5zm_4ecN7HxVz'
          )
        "
      />
    </div>

    <div class="w-[30%] h-32 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/uz0z_0z71_CtQ4G0rd3"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/uz0z_0z71_CtQ4G0rd3'
          )
        "
      />
    </div>

    <div class="w-[48%] h-48 rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/vgak_akxd_9uBitKwXi"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/vgak_akxd_9uBitKwXi'
          )
        "
      />
    </div>

    <div class="w-[48%] h-48 rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/v4zb_zbux_f5J_ibGBW"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/v4zb_zbux_f5J_ibGBW'
          )
        "
      />
    </div>

    <div class="w-[30%] h-28 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/k66u_6usg_8bDHQlULp"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/k66u_6usg_8bDHQlULp'
          )
        "
      />
    </div>

    <div class="w-[30%] h-28 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/scma_maae_zkVkvQJfR"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/scma_maae_zkVkvQJfR'
          )
        "
      />
    </div>

    <div class="w-[30%] h-28 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6g8l_8l3w_qrPVX2FWw"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/6g8l_8l3w_qrPVX2FWw'
          )
        "
      />
    </div>

    <div class="w-full h-52 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/9c1f_1f5m_vGnH0L8n6"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/9c1f_1f5m_vGnH0L8n6'
          )
        "
      />
    </div>

    <div class="w-full h-4/5 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/bivn_vn0b_dtC7HQWWi"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/bivn_vn0b_dtC7HQWWi'
          )
        "
      />
    </div>

    <div class="w-[30%] h-28 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/hudt_dtt1_GS9kF9w5wW"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/hudt_dtt1_GS9kF9w5wW'
          )
        "
      />
    </div>

    <div class="w-[30%] h-28 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/57e0_e0x5_TPDCZgjJi"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/57e0_e0x5_TPDCZgjJi'
          )
        "
      />
    </div>

    <div class="w-[30%] h-28 rounded-xl overflow-hidden object-contain">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/u0z4_z4ys_RIBaL9tVH"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/u0z4_z4ys_RIBaL9tVH'
          )
        "
      />
    </div>

    <div class="w-[48%] h-44 rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/ha9h_9h8o_mYBtsJsme"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/ha9h_9h8o_mYBtsJsme'
          )
        "
      />
    </div>

    <div class="w-[48%] h-44 rounded-xl overflow-hidden">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/69hf_hfqj_hmh1hNViY"
        alt=""
        (click)="
          openLightBox(
            'https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/69hf_hfqj_hmh1hNViY'
          )
        "
      />
    </div>
  </div>
</section>
