<section class="h-screen w-screen bg-[#1b1f23] overflow-y-scroll text-white">
  <div
    id="container"
    class="container max-w-[400px] mx-auto flex flex-col justify-start items-center"
  >
    <!-- HERO IMAGE -->
    <div id="hero-image" class="h-2/5">
      <img
        src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/pjp1_p1yk_dsdRcfrMg"
        alt=""
      />
      <div
        class="relative h-10 bg-[#1b1f23] left-0 bottom-10 right-0 opacity-75"
      ></div>
    </div>

    <div class="flex relative flex-col -top-16 items-center">
      <!-- GREETINGS -->
      <div class="text-center text-3xl m-5">
        <h1 class="font-alegreyaRegular">SAVE</h1>
        <h1 class="font-dancingScriptRegular">the</h1>
        <h1 class="font-alegreyaRegular">DATE</h1>
      </div>

      <!-- BIRTHDAY DATE -->
      <div
        class="flex items-center gap-4 font-alegreyaRegular text-2xl mb-4 text-center"
      >
        <p>Agustus</p>
        <div class="w-[1px] h-10 bg-black"></div>
        <p class="text-4xl">04</p>
        <div class="w-[1px] h-10 bg-black"></div>
        <p>2024</p>
      </div>

      <!-- ICON -->
      <div class="w-12 h-12 mb-4">
        <img
          src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/templates/982a8ae236356234cd0000a0/u9jv_jvbm_hqofwHg2-A"
          alt=""
        />
      </div>

      <!-- INVITATION AND NAME -->
      <div class="text-center mb-20">
        <P class="text-sm text-[#a8a8a8] font-robotoSlabRegular mb-1"
          >Join us to celebrate the 17th of</P
        >
        <p class="text-3xl font-alegreyaRegular">Praysi Kimberly Katong</p>
      </div>

      <!-- QUOTES -->
      <div class="text-center p-3">
        <h1 class="font-dancingScriptRegular text-[#ffab70] text-4xl mb-3">
          Quotes
        </h1>
        <p class="font-robotoSlabRegular text-sm">
          "Bawalah Tuhan di dalam hatimu kemanapun kamu pergi dan kamu tidak
          akan tersesat, Gunakan terangnya sebagai petunjuk dan jangan pernah
          menyerah pada kegelapan"
        </p>
      </div>

      <!-- PRAYSI INFORMATION -->
      <div
        class="relative top-20 flex justify-center items-center min-h-[75vh] w-full"
      >
        <div class="absolute left-0 top-0">
          <img
            class="opacity-5 h-[250px]"
            src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/templates/982a8ae236356234cd0000a0/a2ss_ssa6_bYtJngCkb"
            alt=""
          />
        </div>
        <div class="rotate-180 absolute right-0 top-44">
          <img
            class="opacity-5 h-[250px]"
            src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/templates/982a8ae236356234cd0000a0/a2ss_ssa6_bYtJngCkb"
            alt=""
          />
        </div>

        <div class="flex justify-center items-center gap-5 z-20">
          <div class="h-[115px] w-[115px] rounded-full p-0 m-0 overflow-hidden">
            <img
              class="h-full w-full object-cover"
              src="https://ik.imagekit.io/c2rr9aewn/manjo/assets/invitations/70f36fc4373133dd1000025f---praysi-katong/kdqy_qyd5_KIIOxJxUP"
              alt=""
            />
          </div>
          <div>
            <h1 class="font-dancingScriptRegular text-2xl text-[#ffab70]">
              Praysi Kimberly Katong
            </h1>
            <p class="text-sm mb-2">Anak dari</p>
            <p class="text-sm">Bpk. Hendrik Katong</p>
            <p class="text-sm">Ibu. Ria Warrouw</p>
          </div>
        </div>
      </div>

      <!-- Birthday Date and Location -->
      <div class="mt-40 mb-20 text-center">
        <div class="font-dancingScriptRegular text-4xl text-[#ffab70] mb-7">
          <h1>Birthday Party</h1>
          <h1>Sweet Seventeen</h1>
        </div>
        <div class="flex gap-2 mb-3">
          <div class="flex flex-col justify-center items-center gap-2">
            <div class="font-robotoSlabRegular text-xs">
              <p>17:00 - Selesai</p>
              <p>WITA</p>
            </div>
            <div class="w-2/5 h-[1px] bg-black opacity-50"></div>
            <div class="font-dancingScriptRegular text-sm">
              <p>Sunday</p>
            </div>
          </div>
          <div class="w-[1px] bg-black opacity-50"></div>
          <div class="font-robotoSlabRegular">
            <p class="text-base">Agustus</p>
            <p class="text-[32px]">04</p>
            <p class="text-[20px]">2024</p>
          </div>
          <div class="w-[1px] bg-black opacity-50"></div>
          <div class="flex flex-col justify-center items-center gap-3">
            <p class="font-robotoSlabRegular text-xs">The Sentra Hotel</p>
            <div class="w-2/5 h-[1px] bg-black opacity-50"></div>
            <p class="font-dancingScriptRegular text-sm">
              Maumbi
              <br />
              Minahasa Utara
            </p>
          </div>
        </div>
        <div class="font-robotoSlabRegular text-sm text-[#8a8a8a]">
          <p>Jl. Ir. Soekarno, Maumbi, Kec. Kalawat,</p>
          <p>Kabupaten Minahasa Utara, Sulawesi Utara</p>
        </div>
      </div>

      <!-- COUNT DOWN DATE -->
      <app-count-down-date class="w-full mb-6" [cobaInput]="55">
      </app-count-down-date>

      <!-- LOCATION EVENT -->
      <app-location-event></app-location-event>

      <!-- DRESS CODE -->
      <div class="flex flex-col justify-center items-center mb-20">
        <h1 class="font-dancingScriptRegular text-[#ffab70] text-5xl">
          Dresscode
        </h1>
        <h2 class="font-robotoSlabRegular text-3xl text-white">"FULL BLACK"</h2>
      </div>

      <!-- OUR STORY -->
      <app-our-story class="mb-20"></app-our-story>

      <!-- GUEST BOOK -->
      <app-guest-book class="w-full px-5 mb-10"></app-guest-book>

      <!-- FOOTER -->
      <app-footer></app-footer>
    </div>
  </div>
</section>
